---
const { markDef } = Astro.props.node
const { href, blank } = markDef
const targetValue = blank ? '_blank' : null
---

<a
  href={href}
  target={targetValue}
  rel='noopener'
  class="text-indigo-900 font-medium"
>
    <slot />
  </a>
