---
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string
  page: string
}

const { title, page } = Astro.props
---

<html lang='es' transition:name="slide">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <link
      rel="preload"
      href="/cientigrados-frontend/fonts/RobotoMono-VariableFont_wght.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/cientigrados-frontend/fonts/RobotoMono-Italic-VariableFont_wght.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link rel="stylesheet" href="/src/styles/reset.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    <ViewTransitions/>
  </head>
  <body class="bg-slate-700 min-h-screen py-4" transition:animate="slide">
    <div class="mx-auto max-w-7xl w-4/5">
      <header class="pt-2 pb-4">
        <a href="/cientigrados-frontend">
          <h1 class="font-robotoMono text-3xl text-white font-medium text-center">
            Cientígrados - {page}
          </h1>
        </a>
      </header>
      <slot />
    </div>
  </body>
</html>
